<~~ ~!Color,default!~~%Name%~  ~!Color,green!~~%firstValue%~~!Color,default!~~!Color,default!~
  ~!Color,yellow!~~%Type%~~!Color,brightBlack!~ * ~!Color,brightGreen!~~%numberOfRecords%~~!Color,default!~  ~!Color,purple!~~%TTL%~~!Color,default!~

~>