<~~ ~!Color,default!~~%DBInstanceIdentifier%~ ~!Color,brightBlack!~~%DBName%~ ~!Color,green!~~%MasterUsername%~~!Color,brightBlack!~@~!Color,green!~~%endPoint%~~!Color,default!~ 
  ~!Color,yellow!~~%Engine%~~!Color,default!~ ~!Color,yellow!~~%DBInstanceClass%~~!Color,default!~ ~!Color,blue!~~%AvailabilityZone%~~!Color,default!~

~>