<~~ ~%ClusterIdentifier%~ ~!Color,green!~~%endPoint%~~!Color,default!~
  ~!Color,yellow!~~%NodeType%~~!Color,brightYellow!~*~!Color,yellow!~~%NumberOfNodes%~~!Color,default!~ ~!Color,brightBlue!~~%AvailabilityZone%~~!Color,default!~
~>