Found hosts ~!Global,message!~

<~~ ~!Color,default!~~%hostName%~ ~!Color,brightBlack!~/ ~!Color,cyan!~~%IP%~~!Color,default!~
  ~!Color,green!~~%FQDN%~ ~!Color,default!~
  ~!Color,darkYellow!~~%instanceType%~ ~!Color,brightBlack!~/ ~!Color,darkYellow!~~%architecture%~ ~!Color,brightBlack!~/ ~!Color,darkYellow!~~%rootDeviceType%~~!Color,default!~

~>
