Found hosts ~!Global,message!~

<~~ ~!Codes,default!~~%hostName%~ ~!Codes,brightBlack!~/ ~!Codes,cyan!~~%IP%~~!Codes,default!~
  ~!Codes,green!~~%FQDN%~ ~!Codes,default!~
  ~!Codes,darkYellow!~~%instanceType%~ ~!Codes,brightBlack!~/ ~!Codes,darkYellow!~~%architecture%~ ~!Codes,brightBlack!~/ ~!Codes,darkYellow!~~%rootDeviceType%~~!Codes,default!~

~>
