Found hosts ~!Global,message!~

<~~ ~!Codes,blue!~~%categoryName%~/ ~!Codes,default!~~%hostName%~ ~!Codes,brightBlack!~/ ~!Codes,cyan!~~%IP%~~!Codes,default!~
  ~!Codes,brightBlack!~FQDN: ~!Codes,green!~~%FQDN%~ ~!Codes,default!~

~>
