<~~ ~!Color,default!~~%hostName%~~!Color,default!~ ~!Color,brightBlack!~/~!Color,default!~ ~!Color,cyan!~~%IP%~ ~!Color,brightBlack!~/~!Color,default!~ ~!Color,blue!~~%location%~~!Color,default!~
~!Color,default!~  ~!Color,green!~~%FQDN%~ ~!Color,default!~
~!Color,default!~  ~!Color,darkYellow!~~%instanceType%~ ~!Color,brightBlack!~/~!Color,default!~ ~!Color,darkYellow!~~%architecture%~ ~!Color,brightBlack!~/~!Color,default!~ ~!Color,darkYellow!~~%rootDeviceType%~~!Color,default!~

~>~!ResultSet,howMany!~ hosts