<~~ ~!Color,default!~~%hostName%~~!Color,default!~ ~!Color,brightBlack!~/~!Color,default!~ ~!Color,cyan!~~%IP%~ ~!Color,brightBlack!~/~!Color,default!~ ~!Color,blue!~~%display01%~~!Color,default!~
~!Color,default!~  ~!Color,green!~~%FQDN%~ ~!Color,default!~
~!Color,default!~  ~!Color,darkYellow!~~%display02%~ ~!Color,brightBlack!~/~!Color,default!~ ~!Color,darkYellow!~~%display03%~ ~!Color,brightBlack!~/~!Color,default!~ ~!Color,darkYellow!~~%display04%~~!Color,default!~

~>~!ResultSet,howMany!~ hosts