<~~ ~!Color,~%color%~!~#~!Color,default!~ ~%hostName%~~!Color,default!~ ~!Color,brightBlack!~/ ~!Color,cyan!~~%IP%~ ~!Color,brightBlack!~/ ~!Color,blue!~~%location%~~!Color,default!~
~!Color,~%color%~!~#~!Color,default!~  ~!Color,green!~~%FQDN%~ ~!Color,default!~
~!Color,~%color%~!~#~!Color,default!~  ~!Color,darkYellow!~~%instanceType%~ ~!Color,brightBlack!~/ ~!Color,darkYellow!~~%architecture%~ ~!Color,brightBlack!~/ ~!Color,darkYellow!~~%rootDeviceType%~~!Color,default!~

~>
